@page "/managehomepage"
@attribute [MustHavePermission(FSHAction.Update, FSHResource.HomePage)]
@inject IStringLocalizer<SharedResource> LS
<EditForm Model="@_updateHomePageRequest" OnValidSubmit="SubmitAsync">
    <MudCard Elevation="1">
        <MudCardHeader>
            <CardHeaderContent>
                <div class="fsh-left-text">
                    <MudText Typo="Typo.h4" GutterBottom="true" style="margin-bottom:5px">
                        @LS["Edit home page"]
                    </MudText>

                    <MudText>@LS["Edit home page for view on start page"]</MudText>
                </div>
                <br />
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator />
                <CustomValidation @ref="_customValidation" />
                @if (_updateHomePageRequest is not null)
                {
                    if (_updateHomePageRequest.CarouselModel is not null && _updateHomePageRequest.CarouselModel.Slides?.Count>0)
                    {
                        <MudItem xs="12" md="6">
                            <MudDropContainer @ref="_MudDropContainer" T="DropItem" Items="_items" ItemsSelector="@((item,dropzone) => item.Selector == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
                            <ChildContent>
                                <MudPaper Class="ma-4 flex-grow-1">
                                    <MudList @ref="_MudList" Clickable="true" Class="d-flex flex-column mud-height-full" SelectedValue="CurrentSlider" SelectedValueChanged="selectedValueChanged">
                                    <MudListSubheader>@LS["Sliders"]</MudListSubheader>
                                        <MudDropZone T="DropItem" Identifier="1" Class="flex-grow-1" AllowReorder="true" />
                                </MudList>
                                </MudPaper>
                            </ChildContent>
                            <ItemRenderer Context="lst">
                                <MudListItem Text="@lst.Name" Value="@lst" />
                            </ItemRenderer>
                        </MudDropContainer>
                    </MudItem>
                    }
                    <MudItem xs="12" md="6">
                        <MudItem>
                        <MudButton    OnClick="goSliderAdd" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" ></MudButton>
                        <MudTextField T="string" Label="@LS["Caption"]" Variant="Variant.Outlined" @bind-Value="CurrentSlider.Value!.Title" For="@(()=>CurrentSlider.Value!.Title)"
                            InputType="InputType.Text"/>
                        <MudTextField T="string" Label="@LS["Text"]" Lines="3" Variant="Variant.Outlined" @bind-Value="CurrentSlider.Value!.Description" For="@(()=>CurrentSlider.Value!.Description)"
                                  InputType="InputType.Text" />
                                  
                        </MudItem>
                         <MudItem>
                            <div>
                                <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
                                    @LS["Upload"]
                                </MudButton>
                                @*@if (!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                                {
                                    @*   <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                       StartIcon="@Icons.Filled.RemoveRedEye" Link="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;">
                                        @LS["View"]
                                    </MudButton>

                                   <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                       StartIcon="@Icons.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;">
                                        @LS["Delete"]
                                    </MudButton>
                                }*@
                               
                            </div>
                            <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        </MudItem>
                        <MudItem Style="@($"height: {_updateHomePageRequest.CarouselModel.Height}px")">
                            <MudAvatar Image="@(string.IsNullOrEmpty(CurrentSlider.Value.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + CurrentSlider.Value.ImagePath))" Square="true" Style="@($"height: auto; width: auto; max-height: {_updateHomePageRequest.CarouselModel.Height}px")"> </MudAvatar>
                        </MudItem>
                    <MudItem xs="12" md="12" Style="margin-top:4px">
                            <MudButton StartIcon="@Icons.Filled.Save"   Variant="Variant.Filled" Color="Color.Primary" OnClick="ConfirtSliderChange" Disabled="BusySubmitting" Class="ml-auto">
                                @LS["Confirm"]
                            </MudButton>
                        </MudItem>
                    </MudItem>
                    
                    @if (_updateHomePageRequest.TextBlocs is not null)
                    {
                        @foreach (TextBlock block in _updateHomePageRequest!.TextBlocs)
                        {
                            <MudItem xs="12" md="12">
                                <MudTextField T="string" Label="@LS["Caption"]" Variant="Variant.Outlined"
                                  @bind-Value="block.Caption" For="@(() => block.Caption)"
                                  InputType="InputType.Text" Adornment="Adornment.Start" />
                                <MudTextField T="string" Label="@LS["Caption"]" Variant="Variant.Outlined" Lines="10"
                                  @bind-Value="block.Text" For="@(() => block.Text)"
                                  InputType="InputType.Text" Adornment="Adornment.Start" />
                            </MudItem>
                        }

                    }

                }
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            @if (_canEditHomePage)
            {
                <MudButton StartIcon="@Icons.Filled.Save" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="BusySubmitting" Class="ml-auto">
                    @LS["Save"]
                </MudButton>
            }
        </MudCardActions>
    </MudCard>
</EditForm>
