@page "/home"
@page "/"
@attribute [AllowAnonymous]
@inject IStringLocalizer<Index> L

<MudContainer Class="mainMudContainer">
    <MudGrid @ref="_mugGrid">
        @if (mudCarouselItems is not null && mudCarouselItems.Count > 0)
        {
        <MudItem xs="12" sm="12" md="12">
            
                <MudCarousel Class="mud-width-full" @ref="_carousel" ItemsSource="@mudCarouselItems" Style="@_height" ShowArrows="@_arrows" ShowBullets="@_bullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="@_autocycle" AutoCycleTime="_autocycleTime" TData="SliderDto">
                    <ItemTemplate>
                        <div style="height:100%" class="d-flex flex-column justify-center">
                            @if (!string.IsNullOrEmpty(context.ImagePath))
                            {
                                @*<img src="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" width="100%" height="100%">*@
                                <MudAvatar  Class="z-10 ma-n2"  Square="true" Style="height: auto; width: auto; max-height: 100%">
                                    <MudImage ObjectFit="ObjectFit.Fill" Src="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))"/>
                                    </MudAvatar>
                            }
                            <div class="d-flex flex-column   justify-center z-30" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                                @if (!string.IsNullOrEmpty(context.Title))
                                {
                                    <MudText Align="@Align.Center" Class="mx-auto " Typo="Typo.subtitle1">@context.Title</MudText>
                                }
                                @if (!string.IsNullOrEmpty(context.Description))
                                {
                                    <MudText Align="@Align.Center" Class="mx-auto " Typo="Typo.body1">@context.Description</MudText>
                                }
                            </div>
                        </div>
                    </ItemTemplate>
                   
                </MudCarousel>

                </MudItem>
            }
            
     @*   @foreach(TextBlockDto textBlock in TextBlocks)
        {
            <MudItem xs="12" sm="12" md="12">
                <MudCard>
                   
                    <MudCardHeader>
                        <CardHeaderContent>
                            @if (textBlock.Images != null && textBlock.Images.Count > 0)
                            {
                                <MudCarousel Class="mud-width-full" ItemsSource="@textBlock.Images" Style="height:300px;" ShowArrows="true" ShowBullets="false" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="false" AutoCycleTime="_autocycleTime" TData="BlockImageDto">
                                    <ItemTemplate>
                                        <div style="height:100%" class="d-flex flex-column justify-center">
                                        <MudImage Style="height: auto; width: auto; max-height: 100%"  Class="rounded-lg ma-4" ObjectFit="ObjectFit.ScaleDown" Src="@(string.IsNullOrEmpty(@context.Name) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.Name))"> </MudImage>
                                        </div>
                                    </ItemTemplate>

                                </MudCarousel>
                            }
                            <MudText Typo="Typo.h6">@textBlock.Caption</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>
                            @foreach(var sub in textBlock.Text.Split("\n"))
                            {
                                @sub
                                <br />
                            }

                        </MudText>
                    </MudCardContent>
                </MudCard>
                

            </MudItem>
        }*@
        
    </MudGrid>
    <NewsPost />
</MudContainer>

@code {
   
}